body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.logo-sm {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.btn {
  margin-bottom: 5px;
}

.panel-body {
    max-height: 300px;
    overflow-y:scroll; 
}
