*~
/public/community/cache/
/public/feed/cache/
/public/cache/
/public/forum/
/tmp/
/vendor/
composer.phar
/**/*.mo
/public/index.html
/public/*/index.html
!/public/documentation/index.html
/public/translations/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
