/****************
*** Variables ***
****************/
:root {
  color-scheme: light dark;
  --fg: #333;
  --fg-dark: hsl(0, 0%, 80%);
  --bg-navbar: #10b146;
  --bg-navbar-dark: color-mix(in oklch, var(--bg-navbar), black 25%);
  --bg-navbar-hov: inherit;
  --fg-navbar: white;
  --fg-navbar-hov: #f2f2f2;
  --border-navbar-hov: #373b37;
  --bg-segment: white;
  --bg-segment-dark: #262b30;
  --fg-segment: var(--fg);
  --fg-segment-dark: var(--fg-dark);
  --bg-panel: white;
  --bg-panel-dark: black;
  --bg-alert: #fcf8e3;
  --bg-alert-dark: hsl(50, 81%, 6%);
  --fg-alert: #8a6d3b;
  --fg-alert-dark: color-mix(in oklch, var(--fg-alert), white);
  --fg-code: #c7254e;
  --fg-code-dark: color-mix(in oklch, var(--fg-code), white 25%);
  --bg-btn: #fafafa;
  --bg-btn-dark: hsl(0, 0%, 2%);
  --bg-btn-dl-stable: oklch(65% 0.15 152);
  --bg-btn-dl-stable-dark: color-mix(in oklch, var(--bg-btn-dl-stable), black);
  --bg-btn-dl-alpha: oklch(60% 0.15 250);
  --bg-btn-dl-alpha-dark: color-mix(in oklch, var(--bg-btn-dl-alpha), black);
  --bg-btn-dl-nightly: oklch(56% 0.2 290);
  --bg-btn-dl-nightly-dark: color-mix(in oklch, var(--bg-btn-dl-nightly), black);
  --bg-btn-dl-pr: oklch(72% 0.15 75);
  --bg-btn-dl-pr-dark: color-mix(in oklch, var(--bg-btn-dl-pr), black);
  --bg-well: #f5f5f5;
  --bg-well-dark: hsl(0, 0%, 4%);
  --col-anchor: #337ab7;
  --col-anchor-dark: color-mix(in oklch, var(--col-anchor), white 15%);
  --bg-footer: #222522;
  --col-link-shadow: #362a84;

  --fg-stack: #ed9f00;
  --fg-stack-hov: #eb7500;
  --fg-social: rgba(255, 255, 255, 0.8);
  --fg-social-hov: white;

  --bg-table-lsp-odd: #f9f9f9;
  --bg-table-lsp-odd-dark: hsl(0, 0%, 2%);
  --bg-lsp-search: #eee;
  --bg-lsp-search-dark: hsl(0, 0, 7%);
  --bg-lsp-actions: #f8f8f8;
  --bg-lsp-actions-dark: hsl(0, 0%, 3%);

  --col-gray-overlay: rgba(16, 16, 16, 0.75);
  --col-green-overlay: rgba(16, 177, 70, 0.7);
  --col-bol-overlay: rgba(16, 16, 16, 0.2);

  --nav-height: 50px;
  --nav-height-neg: calc(-1 * var(--nav-height));
  --animation-time: 150ms;
}

body {
  padding-top: var(--nav-height);
  color: light-dark(var(--fg), var(--fg-dark));
  background-color: light-dark(var(--bg-segment), var(--bg-segment-dark));
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

/* extend the main div, so the footer extends to the end */
.main-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  color: light-dark(var(--col-anchor), var(--col-anchor-dark));
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.well {
  background-color: light-dark(var(--bg-well), var(--bg-well-dark));
}

.navbar {
  margin-bottom: 0;
}

.nav-justified>li {
  float: none;
}

blockquote {
  font-size: 14px;
  font-style: normal;
}

.lsp-image {
  max-width: 100%;
}

/* LSP Login Sidebar*/
#login-div form {
  padding: 0.5em;
}

form .input-group .input-group-addon {
  background-color: light-dark(var(--bg-lsp-search), var(--bg-lsp-search-dark));
}

.alert.lsp {
  margin-bottom: 0;
}

/* Star ratings */
.lsp-starrating {
  padding: 15px 0px 15px 0px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.lsp-starrating>a:hover {
  text-decoration: none;
}

/* Fix for forum back-to-top button */
.back-to-top {
  z-index: 1;
  bottom: 30px;
}

/* Do not display the edit button in docs */
.mw-editsection {
  display: none;
}

div.p-pagination span.label a:link {
  color: #fff;
}

.inputbox {
  line-height: normal;
}

.dl-vert-label {
  position: relative;
  top: -2px;
  margin-left: 55px;
}

.lsp-row {
  margin-top: 10px;
  text-align: left;
}

li>a>span.fa-files-o {
  margin-right: -0.15em;
}

.btn-file {
  margin-right: 0.75em;
  margin-top: 0.15em;
}

#caret.fa-caret-right {
  margin-right: 0.2em;
}

span.lsp-badge {
  opacity: 0.7;
}

pre.lsp-filename {
  float: right;
  text-align: right;
  margin: auto;
}

ul.lsp-sort {
  display: inline-block;
}

div.lsp-sidebar {
  margin-right: 0.5em;
  margin-top: 1.6em;
}

td.lsp-file-info {
  padding-left: 2em;
}

.fl-tab {
  position: relative;
  left: 0.1em;
  top: 0.05em;
  margin-left: 0.3em;
}

.lsp-small {
  display: block;
  position: relative;
  bottom: -1.5em;
  text-align: right;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: light-dark(var(--bg-table-lsp-odd), var(--bg-table-lsp-odd-dark));
}

.release-notes {
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 800px;
}

/* download button bg colors */
.btn-dl {
  min-width: 16em;
  position: relative;
  margin: 4px;
  text-align: left;
  padding: 1em 1em 1em 5em;

  &:hover {
    color: #fff;
    filter: brightness(1.1);
  }

  &.btn-dl-stable {
    background-color: light-dark(var(--bg-btn-dl-stable), var(--bg-btn-dl-stable-dark));
    border: 1px solid var(--bg-btn-dl-stable);
  }

  &.btn-dl-alpha {
    background-color: light-dark(var(--bg-btn-dl-alpha), var(--bg-btn-dl-alpha-dark));
    border: 1px solid var(--bg-btn-dl-alpha);
  }

  &.btn-dl-nightly {
    background-color: light-dark(var(--bg-btn-dl-nightly), var(--bg-btn-dl-nightly-dark));
    border: 1px solid var(--bg-btn-dl-nightly);
  }

  &.btn-dl-pr {
    background-color: light-dark(var(--bg-btn-dl-pr), var(--bg-btn-dl-pr-dark));
    border: 1px solid var(--bg-btn-dl-pr);
  }

  & .small {
    position: relative;
    font-size: 0.9em;
  }

  & .big {
    font-size: 1.2em;
  }

  & .download-icon {
    display: block;
    position: absolute;
    left: 0.2em;
    top: 0.3em;
    opacity: 0.9;
  }
}

/* Prevent cutting off of images on narrow devices*/
@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

.dl-horiz-label {
  margin-left: 57px;
}

.code-block {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

div.code-block {
  background-color: transparent;

  pre {
    background-color: light-dark(white, black);
    color: light-dark(black, white);
  }
}

.top {
  float: top;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

li.dropdown-split-left>a {
  padding-right: 0;
}

li.dropdown-split-right>a {
  padding-left: 7px;
}

.ellipsis {
  font-size: 1em;
  font-weight: 900;
  display: inline;
}

.bandcamp-iframe {
  border: 0;
  width: 700px;
  height: 1000px;
}

@media (max-width: 700px) {
  .bandcamp-iframe {
    width: 100%;
  }
}

.art-thumb {
  float: left;
  margin-right: 10px;
}

.spacey {
  padding: 5px;
}

p.forum-stats {
  font-size: 0.75em;
}

.theme-showcase>p>.btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  footer .container {
    width: inherit;
  }
}

/* Some missing bootstrap styles */
.btn {
  border: 0;
  border-radius: 1px;
  color: #fff;
}

.btn.active,
.btn:active {
  box-shadow: none;
}

a.btn {
  box-shadow: none;
}

.panel,
.well,
.alert {
  border-radius: 1px;
}

.alert.alert-warning {
  background-color: light-dark(var(--bg-alert), var(--bg-alert-dark));
  color: light-dark(var(--fg-alert), var(--fg-alert-dark));
}

code {
  background-color: light-dark(white, black);
  color: var(--fg-code-dark);
}

/* navbar styling */
.navbar-custom {
  background-color: light-dark(var(--bg-navbar), var(--bg-navbar-dark));
  background-image: url("/img/hexagon.png");
  background-position: 0px 0px;
  margin-bottom: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  transition: top 0.15s ease-in-out;
  border: none;
  top: 0;
  /* caret */
  /* Dropdown menu appeares on :hover and :focus */
  /* mobile version */
}

.navbar-custom a {
  box-shadow: none;
}

.navbar-custom .navbar-brand {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
}

.navbar-custom .navbar-brand,
.navbar-custom .dropdown-split-right,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav>li>a:visited,
.navbar-custom .navbar-nav>li>a:focus {
  color: var(--fg-navbar);
  background-color: transparent;
  transition: all 0.15s linear;
  text-shadow: none;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a:hover {
  color: var(--fg-navbar-hov);
  background-color: inherit;
}

.navbar-custom .navbar-nav .open .caret {
  border-top-color: var(--fg-navbar-hov);
  border-bottom-color: var(--fg-navbar-hov);
}

.navbar-custom .navbar-nav .open:where(:hover, :focus) {
  color: var(--fg-navbar-hov);
  background-color: inherit;
}

.navbar-custom .navbar-nav .open:where(:hover, :focus) .caret {
  border-top-color: var(--fg-navbar-hov);
  border-bottom-color: var(--fg-navbar-hov);
}

.navbar-custom .dropdown>a .caret {
  border-top-color: var(--fg-navbar);
  border-bottom-color: var(--fg-navbar);
}

.navbar-custom .dropdown>a:where(:hover, :focus) .caret {
  border-top-color: var(--fg-navbar-hov);
  border-bottom-color: var(--fg-navbar-hov);
}

.navbar-custom .dropdown-menu {
  border: none;
  border-radius: 0;
  background-color: var(--border-navbar-hov);
  transition: all 0.15s linear;
}

.navbar-custom .dropdown-menu>li>a {
  color: var(--fg-navbar);
  transition: all 0.15s linear;
}

.navbar-custom .dropdown-menu>li>a:hover {
  color: var(--border-navbar-hov);
  background-image: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-custom .navbar-toggle {
  border: none;
}

.navbar-custom .navbar-toggle:where(:hover, :focus) {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: var(--fg-navbar);
}

.navbar-default {
  background-color: light-dark(var(--bg-lsp-actions), var(--bg-lsp-actions-dark));
}

/* inner bottom border on hover over navbar items*/
@media (min-width: 768px) {

  .navbar-custom .navbar-nav>:where(li, .active, .open)>a:hover {
    box-shadow: inset 0px -4px 0px 0px var(--border-navbar-hov);
  }

  .navbar-custom .dropdown-menu {
    right: auto;
    text-align: left;
    display: block;
    visibility: hidden;
    box-shadow: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s;
  }

  .navbar-custom .dropdown:hover .dropdown-menu,
  .navbar-custom .dropdown:focus .dropdown-menu {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    background-image: none;
  }

  .navbar-custom .navbar-nav>li>:where(a, a:visited, a:focus),
  .navbar-custom .navbar-nav .open .dropdown-menu {
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    background: inherit;
  }

  .navbar-custom .navbar-nav>li.open>a {
    box-shadow: none;
  }

  .navbar-custom .navbar-nav .open .dropdown-menu>li>a {
    color: var(--fg-navbar);
  }

  .navbar-custom .navbar-custom .navbar-nav .open .dropdown-menu>li>a:hover {
    color: var(--fg-navbar-hov);
  }

  .navbar-custom .dropdown-menu>li>a:hover {
    color: var(--border-navbar-hov);
    background: transparent;
  }
}

.nav-up {
  top: var(--nav-height-neg);
}

.logo-sm {
  position: relative;
  top: -2px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
}

/* Footer */
footer {
  background-color: var(--bg-footer);
  background-image: url("../img/hexagon.png");
  display: flex;
  align-items: center;
}

footer .column-md-6 {
  margin: 20px 4px;
}

footer #redux {
  text-align: left;
  margin: 28px 4px;
  line-height: 80%;
  font-size: 0.95em;
  color: var(--fg-social);
}

footer #redux a {
  box-shadow: none;
}

footer #redux img {
  width: 180px;
  opacity: 0.8;
  transition: opacity 0.15s linear;
}

footer #redux img:hover {
  opacity: 1;
}

/* header */
.jumbotron {
  margin: 0;
}

.jumbotron :where(h1, h2, h3, h4, h5, p) {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

h1.jumbo {
  margin-top: 14px;
}

p.jumbo {
  margin-top: -14px;
  margin-left: 4px;
}

div.jumbo {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("/img/screen.png"), url("/img/hexagon.png"), light-dark(var(--bg-navbar), color-mix(in oklch, var(--bg-navbar), black 25%));
  background-position: right bottom, 0px var(--nav-height-neg);
  background-size: auto 80%, auto;
  background-repeat: no-repeat, repeat;
  color: #fff;
  min-height: 50vh;
}

.jumbo div.header {
  margin-bottom: 100px;
}

div.mini {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("/img/hexagon.png"), light-dark(var(--bg-navbar), color-mix(in oklch, var(--bg-navbar), black 25%));
  background-position: 0px var(--nav-height-neg);
  color: #fff;
  min-height: 15vh;
  padding: 5px;
  margin-bottom: 20px;
}

div.error {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("/img/hexagon.png"), light-dark(var(--bg-navbar), color-mix(in oklch, var(--bg-navbar), black 25%));
  background-position: 0px var(--nav-height-neg);
  color: #fff;
  flex: 1;
}

div.error a {
  color: #fff;
  box-shadow: inset 0px -2px 0px 0px var(--col-link-shadow);
  transition: box-shadow 0.15s ease-in-out;
}

div.error a:where(:hover, :focus) {
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0px -1.4em 0px 0px var(--col-link-shadow);
}

/* responsive bg change */
@media (max-width: 992px) and (min-width: 768px) {
  div.jumbo {
    background-size: auto 55%, auto;
  }

  .jumbo div.header {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  div.jumbo {
    background: linear-gradient(var(--col-green-overlay), var(--col-green-overlay)), url("/img/screen.png"), light-dark(var(--bg-navbar), color-mix(in oklch, var(--bg-navbar), black 25%));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .jumbo div.header {
    margin-bottom: 50px;
  }
}

/* stack */
a.stack {
  color: var(--fg-stack);
  box-shadow: none;
  transition: color 0.15s linear;
}

j a.stack:visited {
  color: var(--fg-stack);
}

a.stack:hover,
a.stack:focus {
  color: var(--fg-stack-hov);
}

a.social {
  color: var(--fg-social);
  box-shadow: none;
  transition: color 0.15s linear;
}

a.social .fa-inverse {
  color: var(--border-navbar-hov);
}

a.social .fa-fw {
  margin-right: -0.3em;
}

a.social:visited {
  color: var(--fg-social);
}

a.social:hover,
a.social:focus {
  color: var(--fg-social-hov);
  text-decoration: none;
}

.segment {
  padding: 60px 0 70px 0;
  background-color: light-dark(var(--bg-segment), var(--bg-segment-dark));
  color: light-dark(var(--fg-segment), var(--fg-segment-dark));
}

.segment .page-header {
  border-bottom-color: #d4d4d4;
}

.segment#home1 .col-lg-4 :where(h4, p) {
  text-align: left;
}

.segment:where(#home3, #home7) {
  background-image: url("/img/hexagon2.png");
  background-repeat: repeat;
  background-position: 0px 0px;
}

.segment#home2 {
  background: linear-gradient(var(--col-gray-overlay), var(--col-gray-overlay)), url("/img/promoshot1.jpg");
}

.segment#home4 {
  background: linear-gradient(var(--col-gray-overlay), var(--col-gray-overlay)), url("/img/promoshot2.jpg");
}

.segment#home6 {
  background: url("../img/videopattern.png"), url("../vid/promo.jpg");
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.segment#home8 {
  background: linear-gradient(var(--col-gray-overlay), var(--col-gray-overlay)), url("/img/promoshot3.jpg");
}

.segment:where(#home2, #home4, #home6, #home8) {
  color: #fff;
  background-position: center;
  background-size: cover;
}

/* Video gets shown on bigger screens*/
@media screen and (min-width: 768px) {
  .segment#home6 {
    color: #fff;
    position: relative;
    width: 100%;
    height: 356px;
    background: none;
  }

  .video-front,
  .video-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-front {
    padding: 45px 0 70px 0;
    background: url("../img/videopattern.png");
  }

  .video-bg {
    overflow: hidden;
  }

  .video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .modal-custom .modal-dialog {
    margin-top: 60px;
    width: 800px;
  }
}

.modal-backdrop.in {
  opacity: 0.7;
}

.modal-custom {
  /* Custom close modal dialog text */
  /* The text is a button so the user can click it but behaves like normal text */
}

.modal-custom.fade .close-modal {
  opacity: 0;
  transition: opacity 0.5s ease-out 0.3s;
}

.modal-custom.in .close-modal {
  opacity: 0.7;
}

.modal-custom .close-modal {
  background: none;
  border: none;
  cursor: default;
}

.modal-custom .modal-dialog {
  max-width: 100%;
  margin-bottom: 5px;
}

.modal-custom .modal-dialog .modal-content {
  padding: 5px;
  background-color: var(--border-navbar-hov);
}

.modal-custom .modal-dialog button.close {
  color: #fff;
  opacity: 0.3;
}

.modal-custom .modal-dialog button.close:hover {
  color: #fff;
}

/* Get Involved Panels */
.panel-custom {
  border: 1px #dedede solid;
  background-color: light-dark(#fff, #000);
}

.panel-custom>.panel-heading {
  background: url("/img/hexagon-panel.png");
  background-color: var(--border-navbar-hov);
  color: #fff;
  background-repeat: repeat;
  background-position: 0px 0px;
}

.form-control {
  background-color: light-dark(white, black);
}

#lspnav,
.alert {
  border: 0;
}

.btn-default {
  border: solid 1px;
  border-color: #c9c9c9;
  background-color: light-dark(var(--bg-btn), var(--bg-btn-dark));
  color: light-dark(var(--fg), var(--fg-dark));
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

a.btn-outline {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  transition: all 0.15s linear;
}

a.btn-outline:hover {
  color: #706d6d;
  background-color: #fff;
}

a.btn-outline#involved {
  border: none;
  margin-top: 6px;
}

.btn-xl {
  font-size: 24px;
}

/*
 * nav-tabs style
 */
.nav-center-container {
  width: 100%;
  overflow: hidden;
}

ul.nav-center {
  list-style: none;
  position: relative;
  float: left;
  display: block;
  left: 50%;
}

ul.nav-center li {
  position: relative;
  float: left;
  display: block;
  right: 50%;
}

@media (max-width: 768px) {
  ul.nav-center li {
    float: none;
    width: 100%;
  }
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a {
  border-radius: 0 0;
  border-style: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-color: light-dark(white, black);
}

.nav-tabs>li>a:where(:hover, :focus) {
  border-radius: 0 0;
  border-style: none;
  border-bottom: 2px solid #75a3ca;
  background-color: white;
}

.nav-tabs>li.active>:where(a, a:hover, a:focus) {
  border-style: none;
  background-color: white;
  border-bottom: 2px solid #428bca;
}

.comp-header {
  width: 100%;
  padding: 0.1em 0.5em;
  vertical-align: middle;
  font-size: 3.3em;
  background-position: center, center center;
  background-size: auto, cover;
  color: #fcfcfc;
}

.comp-header:hover {
  cursor: pointer;
  cursor: hand;
}

.comp-header span {
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-style: italic;
}

.comp-header .carret {
  float: right;
  margin: 0.25em 0;
}

.comp-header .carret.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .comp-header {
    font-size: 2em;
  }
}

#bol1 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv1.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol2 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv2.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol3 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv3.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol4 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv4.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol5 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv5.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol6 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv6.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol7 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv7.jpg");
  background-position: center, center center;
  background-size: auto, cover;
}

#bol8 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv8.jpg");
  background-position: top, center top;
  background-size: auto, cover;
}

#bol9 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv9.jpg");
  background-position: top, center top;
  background-size: auto, cover;
}

#bol10 {
  background: linear-gradient(var(--col-bol-overlay), var(--col-bol-overlay)), url("/img/tbolv10.jpg");
  background-position: top, center top;
  background-size: auto, cover;
}

.center {
  text-align: center;
}

.competition {
  padding: 2em 0 2em 0;
}

.competition a {
  text-decoration: none;
}

.comp-desc {
  border: 1px 1px 1px 0px solid #c9c9c9;
  padding: 2ex 1em 1ex 1em;
}

.comp-desc h4 {
  margin-bottom: 1ex;
  margin-top: 2ex;
}