/* margin-bottoms for dynamic footer */

body {
	padding-bottom: 0;
	padding-top: 50px;
	margin-bottom: 191px;
}

@media (max-width: 1200px) {
	body {
		margin-bottom: 296px;
	}
}

@media (max-width: 500px) {
	body {
		margin-bottom: 521px;
	}
}

html {
	position: relative;
	min-height: 100%;
	height: initial;
}

.navbar {
	margin-bottom: 0;
}

.nav-justified > li {
	float:none;
}

blockquote {
	font-size: 14px;
	font-style: normal;
}

.lsp-image {
	max-width:100%;
}

/* Star ratings */
.lsp-starrating {
	padding:  15px 0px 15px 0px;
	unicode-bidi: bidi-override;
	direction: rtl;
}

.lsp-starrating > a:hover {
	text-decoration: none;
}
.lsp-star:before {
	content: "\f006";
}

.lsp-star.disabled {
	color: #ccc;
	pointer-events: none;
    cursor: default;
}
.lsp-star:hover:before,
.lsp-star:hover ~ .lsp-star:before,
.lsp-star.active ~ .lsp-star:before {
   content: "\f005";
}

.lsp-star.active:before {
	content: "\f005";

}
.lsp-star {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
	display: inline-block;
}


/* Fix for forum back-to-top button */
.back-to-top {
	z-index: 1;
	bottom: 30px;
}

/* Do not display the edit button in docs */
.mw-editsection {
	display: none;
}

/* Footer */
footer {
	background-color: #f9f9f9;
	background-image: none;
	padding: 20px;
	position: absolute;;
	bottom: 0;
	width: 100%;
}

footer > .container > div{
	display: inline;
}

footer > .container > div+div,
footer > .container > div > span+span {
	margin-left: 14%;
}

footer span {
	display: inline-block;
	width: 14%;
}

@media (max-width: 1200px) {
	footer > .container > div{
		display: block;
	}
	footer > .container > div+div{
		margin-left: 0;
		margin-top: 15px;
	}
	footer span {
		width: 33%;
	}
	footer > .container > div > span+span {
		margin-left: 33%;
	}
}

@media (max-width: 500px) {
	footer span {
		width: 100%;
	}
	footer > .container > div > span+span {
		margin-left: 0;
		margin-top: 15px;
	}
	footer > .container {
		text-align: center;
	}
}

div.p-pagination span.label a:link {
	color: #fff;
}


.inputbox {
    line-height: normal;
}

.dl-vert-label {
	position: relative;
	top: -2px;
	margin-left: 55px;
}

.lsp-row {
	margin-top: 10px;
	text-align: left;
}

.download-icon {
	margin: 0;
	padding: 0;
	display: block;
	width: 0;
	height: 0;
	font-size: 3em;
	position: relative;
	top: -0.50em;
	left: -1.1em;
	opacity: .65;
}

li>a>span.fa-files-o {
	margin-right: -.15em;
}

.btn-file {
	margin-right: .75em;
	margin-top: .15em;
}

#caret.fa-caret-right {
	margin-right: .2em;
}

span.lsp-badge {
	opacity: .70;
}

pre.lsp-filename {
	float: right;
	text-align: right;
	margin: auto;
}

ul.lsp-sort {
	display: inline-block;
}

div.lsp-sidebar {
	margin-right: .50em;
	margin-top: 1.6em;
}

td.lsp-file-info {
	padding-left: 2em;
}

div.lsp-search-comments {
	position: relative;
	float: right;
	margin-right: 1.2em;
	margin-top: .8em;
	right: 0;
	width: 0;
	height: 0;
	overflow: none;
}

div.lsp-search-comments > span.fa-comments {
	margin-left: 0.2em;
}

div.lsp-search-button {
	position: relative;
	float: right;
	margin-right: 2.7em;
	margin-top: -2.4em;
	right: 0;
	width: 0;
	height: 0;
	overflow: none;
}

.fl-tab {
	position: relative;
	left: .1em;
	top: .05em;
	margin-left: .3em;
}

.btn-dl  > small > .fa-exclamation-circle {
	position: absolute;
	font-size: 1.5em;
	padding: 0;
	width: 0;
	height: 0;
	margin: 0;
	right: 3px;
	bottom: 3px;
	opacity: .65;
}

.feed-small {
	display: table-cell;
	float: right;
	text-align: right;
	margin-right: 5px;
	opacity: .60;
}

.lsp-small {
	display: block;
	position: relative;
	bottom: -1.5em;
	text-align: right;
}

.youtube-thumb-overlay {
  position: relative;
	top: 1em;
	left: -5em;
	display: inline-block;
	width: 0; height 0;
  z-index: 10;
	color: #fff;
	opacity: .40;
}

.soundcloud-thumb-overlay {
  position: relative;
	top: 1em;
	left: -4.5em;
	display: inline-block;
	width: 0; height 0;
  z-index: 10;
	color: #fff;
	opacity: .40;
}

.youtube-thumb-overlay:hover,
.soundcloud-thumb-overlay:hover {
	opacity: .60;
}

.google\2b-row,
.soundcloud-row,
.github-row,
.facebook-row,
.forums-row,
.youtube-row {
	text-align: left;
	position: relative;
	margin: 0;
}

.soundcloud-row {
	margin-top: -2px;
}

.soundcloud-thumb {
	float: left;
	display: inline-block;
	position: relative;
	margin-top: -6px;
	margin-left: 2px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}


.fb-thumb {
	position: relative;
	left: -6px;
	top: -2px;
	margin: 5px;
	width: auto;
	max-width: 100%;
	height: auto;
}

.youtube-thumb {
	background-color: #000;
	float: left;
	display: inline-block;
	position: relative;
	margin-top: -6px;
	margin-left: 2px;
	margin-right: 10px;
}


.forum-thumb {
	display: block;
	position: relative;
	margin: 20px;
}

#button-title {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
}

.release-notes {
	position: relative;
	display: inline-block;
	text-align: left;
	max-width: 800px;
}

.btn-dl small {
	position: relative;
	font-size: 0.65em;
	top: -1.8em;
}

.btn-dl-md small {
	position: relative;
	font-size: 0.65em;
	top: -2.2em;
}

.btn-dl big {
	font-size: 0.75em;
	position: relative;
	top: -12px;
}

.btn-dl-md big {
	font-size: 0.75em;
	position: relative;
	top: -11px;
}

.btn-dl {
	height: 4.8em;
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 0;
	padding-left: 4em;
	padding-right: 1em;
	margin: 4px;
}

/* Prevent cutting off of images on narrow devices*/
@media (max-width:767px) {
img {
	max-width: 100%;
	height: auto;
}
}

.dl-horiz-label {
	margin-left: 57px;
}

.code-block {
	display: inline-block;
	text-align: left;
	margin: 0 auto;
}

.top {
	float: top;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.fa-8x {
	font-size: 8em;
}

.fa-7x {
	font-size: 7em;
}

.fa-6x {
	font-size: 6em;
}

.main-div {
	padding-bottom: 20px;
	background-color: #fff;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

li.dropdown-split-left > a {
	padding-right: 0;
}

li.dropdown-split-right > a {
	padding-left: 7px;
}

.ellipsis {
	font-size: 1em;
	font-weight: 900;
	display: inline;
}

.bandcamp-iframe {
	border: 0;
	width: 700px;
	height: 1000px;
}

@media (max-width:700px) {
.bandcamp-iframe {
	width: 100%;
}
}


.art-thumb {
	float: left;
	margin-right: 10px;
}

p.forum-stats  {
	font-size: 0.75em;
}

#community-table {
	text-align:center;
	margin: 0 auto;
}

#forums-div,
#facebook-div,
#soundcloud-div,
#google-div,
#youtube-div,
#github-div {
	max-height: 9999px;
	overflow: auto;
}

#forums-toggle,
#facebook-toggle,
#soundcloud-toggle,
#google\2b-toggle,
#youtube-toggle,
#github-toggle,
#forums-button,
#facebook-button,
#soundcloud-button,
#google\2b-button,
#youtube-button,
#github-button {
	width: 100%;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

/* Some missing bootstrap styles */

.btn {
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image:none;
	border: 0;
	border-radius: 1px;
	margin-bottom: 5px;
	color: #fff;
}

.panel,
.well,
.alert {
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image:none;
	border-radius: 1px;
}

/* navbar styling */
.navbar-custom {
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	box-shadow: none;
	background-image:none;
	border: none;
	background-color: #10b146;
	background-image: url('/img/hexagon.png');
	background-position: 0px 0px;
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.15s ease-in-out;
}

.nav-up {
  top: -50px;
}
.nav-down {
	top: 0;
}
/* Since we do the navbar scroll event in segments, we need to make the body the same color as the navbar */
body {
	background-color: #10b146;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav > li > a:visited,
.navbar-custom .navbar-nav > li > a:focus,
.dropdown-split-right {
    color: #fff;
		background-color: inherit;
		text-shadow: none;
		transition: all 0.15s linear;
		
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover {
    color: #e0e0e0;
		background-color: inherit;
}

/* inner bottom border on hover over navbar items*/
@media(min-width: 768px) {
	.navbar-custom .navbar-nav > li > a:hover,
	.navbar-custom .navbar-nav > .active > a, 
	.navbar-custom .navbar-nav > .active > a:hover,
	.navbar-custom .navbar-nav > .open > a, 
	.navbar-custom .navbar-nav > .open > a:hover,
	.navbar-custom .dropdown-split-left:hover + .dropdown-split-right {
			box-shadow: inset 0px -5px 0px 0px #373b37;
	}	
}


/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret,
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
}

/* mobile version */
.dropdown-menu {
	border: none;
	border-radius: 0;
	background-color: #373b37;
	transition: all 0.2s linear;
}

.dropdown-menu > li > a {
	color: #fff;
	transition: all 0.2s linear;	
}

.dropdown-menu > li.divider {
	background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu > li > a:hover {
	color: #373b37;
	background-image: none;
	background-color: rgba(255, 255, 255, 0.9); 	
}

.navbar-custom .navbar-toggle {
    border: none;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.2);;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (max-width: 767px) {
		.navbar-custom {
			background-image: none;
		}
		.navbar-custom .navbar-nav > li > a,
		.navbar-custom .navbar-nav > li > a:visited,
		.navbar-custom .navbar-nav > li > a:focus,
		.navbar-custom .navbar-nav .open .dropdown-menu {
			box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
		}
		.navbar-custom .navbar-nav > li.open > a {
			box-shadow: none;
		}
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
		.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #e0e0e0;
    }
		.dropdown-menu > li > a:hover {
			color: #373b37;
			background: transparent;
		}
}

.logo-sm {
	position: relative;
	top: -2px;
	margin-right: 5px;
	width: 22px;
	height: 22px;
}

/* header */
.jumbotron {
	margin: 0;
}
h1.jumbo, p.jumbo {
	font-family: 'Ubuntu', sans-serif;

}

h1.jumbo {
	margin-top: 14px;
}

p.jumbo {
	margin-top: -14px;
	margin-left: 4px;
}


div.jumbo {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #10b146;
	background: url("/img/screen.png"), url("/img/hexagon.png");
	background-position: right bottom, 0px -50px;
	background-size: auto 130%, auto;
	background-repeat: no-repeat, repeat;
	color: #fff;
	min-height: 60vh;
}
.jumbo div.header {
	margin-bottom: 100px;
}
/*responsive bg change*/
@media (max-width: 992px) and (min-width: 768px) {
	div.jumbo {
		background-size: auto 80%, auto;
	}
	.jumbo div.header {
		margin-bottom: 80px;
	}
}

@media (max-width: 768px) {
	div.jumbo {
		background: linear-gradient(
      rgba(16, 177, 70, 0.9), 
      rgba(16, 177, 70, 0.9)
    ), url("/img/screen.png"), #10b146;
		background-size: auto 160%;
		background-position: right bottom;
		background-repeat: no-repeat;
	}	
	.jumbo div.header {
		margin-bottom: 50px;
	}
}

.segment {
	padding: 40px 0 40px 0; 
}

.segment#home1,
.segment#home3 {
	background: url("/img/hexagon2.png");
	background-repeat: repeat;
	background-position: center;
}

.segment#home2 {
	color: #fff;
	background: linear-gradient(
		rgba(16, 177, 70, 0.7), 
		rgba(16, 177, 70, 0.7)
	), url("/img/promoshot1.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#lspnav,
.alert {
	border: 0;
}

.btn-default {
	border: solid 1px;
	border-color: #c9c9c9;
	background-color: #fafafa;
	color: #333;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-outline {
	background: none;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 8px;
	transition: all 0.2s linear;
}
.btn-outline:hover {
	color: #706d6d;
	background-color: #fff;
}

.btn-xl {
	font-size: 24px;
}

.btn-outline#involved {
	border: none;
}

.btn-dark {
	background-color: #464f47;
	border-color: #464f47;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3c443d;
	background-image: -moz-linear-gradient(top,#464f47,#2e342f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#464f47),to(#2e342f));
	background-image: -webkit-linear-gradient(top,#464f47,#2e342f);
	background-image: -o-linear-gradient(top,#464f47,#2e342f);
	background-image: linear-gradient(to bottom,#464f47,#2e342f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff464f47', endColorstr='#ff2e332e', GradientType=0);
	border-color: #2e342f #2e342f #0a0b0a;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-dark:hover,
.btn-dark:focus {
	color: #fff;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
	background-color: #2e342f;
}

.btn-dark:active,
.btn-dark.active,
.btn-dark.active:hover {
	color: #fff;
	background-color: #3a413b;
	border-color: #2e342f;
}

.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled] .btn-dark:hover,
.btn-dark[disabled] .btn-dark:focus,
.btn-dark[disabled] .btn-dark:active,
.btn-dark[disabled] .btn-dark.active {
	color: #fff;
	background-color: #464f47;
	border-color: #464f47;
}

/*
 * nav-tabs style
 */

.nav-center-container {
	width: 100%;
	overflow: hidden;
}

ul.nav-center {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

ul.nav-center li {
	position: relative;
	float: left;
	display: block;
	right: 50%;
}

@media(max-width: 768px) {
	ul.nav-center li {
			float: none;
			width: 100%;
	}
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border-radius: 0 0;
	border-style: none;
	border-bottom: 2px solid rgba(0,0,0,0);
	background-color: white;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border-bottom: 2px solid #75A3CA;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-style: none;
	background-color: white;
	border-bottom: 2px solid #428bca;
}

/*
 * Image reflection effects
 */
#reflect-black .image-block ,
#reflect-white .image-block {
	width:100%;
	margin:0px 10px;
	float:left;
}

#reflect-black .reflection {
	position: relative;
	margin-bottom: -33%;
}
#reflect-white .reflection {
	position:relative;
	margin-bottom: -22%;
}

#reflect-black  img {
	border: 1px solid rgba(255,255,255,.33);
}

#reflect-white  img {
	border: 1px solid rgba(0,0,0,.33);
}

#reflect-black  img:hover{
	border: 1px solid rgba(255,255,255,.5);
}

#reflect-white  img:hover{
	border: 1px solid rgba(0,0,0,.75);
}


#reflect-black .reflection img,
#reflect-white .reflection img {
	-webkit-transform: scaleY(-1);
 	   -moz-transform: scaleY(-1);
	    -ms-transform: scaleY(-1);
	     -o-transform: scaleY(-1);
		    transform: scaleY(-1);
			   filter: flipv;
}

#reflect-black .reflection img {
	opacity:0.30;
	filter: alpha(opacity='40');
}

#reflect-white .reflection img {
	opacity:0.15;
	filter: alpha(opacity='15');
}

#reflect-black .overlay {position:absolute; top:0px; left:0px; width:100%; height:100%;
	background-image: -moz-linear-gradient(center bottom, rgb(0,0,0) 60%, rgba(0,0,0,0) 75%);
	background-image: 	-o-linear-gradient(rgba(0,0,0,0) 25%, rgb(0,0,0) 40%);
	background-image:     -webkit-gradient(linear, left bottom, left top, color-stop(0.60, rgb(0,0,0)), color-stop(0.75, rgba(0,0,0,0)));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#000000);
}

#reflect-white .overlay {position:absolute; top:0px; left:0px; width:100%; height:100%;
	background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%);
	background-image: 	-o-linear-gradient(rgba(255,255,255,0) 25%, rgb(255,255,255) 40%);
	background-image:     -webkit-gradient(linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0)));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#ffffff);
}

.comp-header {
	width: 100%;
	max-height: 72px;
	vertical-align: middle;
	background-position: center center;
	background-size: cover;
}

.comp-header:hover {
	cursor: pointer;
	cursor: hand;
}

.comp-header span {
	font-family: 'Lato', sans-serif;
	font-size: 46px;
	line-height: 72px;
	font-weight: 300;
	font-style: italic;
	color: #f5f2f2;
	padding: 1ex 0.5em 1ex 0.5em;
}

.comp-header i {
	color: #fff;
	font-size: 46px;
	float: right;
	margin: auto 0.5em auto 0.5em;
	line-height: 72px;
	transition: all 0.35s linear;
}

#bol1 {
	background-image: url('/img/tbolv1.jpg');
}

#bol2 {
	background-image: url('/img/tbolv2.jpg');
}

#bol3 {
	background-image: url('/img/tbolv3.jpg');
}

.competition {
	padding: 2em 0 2em 0;
}
.competition a {
	text-decoration: none;
}

.comp-desc {
	border: 1px 1px 1px 0px solid #c9c9c9;
	padding: 2ex 1em 1ex 1em;
}
.comp-desc h4 {
	margin-bottom: 1ex;
	margin-top: 2ex;
}
