/****************
*** Variables ***
****************/
$navbarBg: #10b146;
$navbarBgHover: inherit;
$navbarText: #fff;
$navbarTextHover: #f2f2f2;
$navbarHoverBorder: #373b37;
$footerColor: #222522;

$grayOverlay: rgba(16, 16, 16, 0.75);
$greenOverlay: rgba(16, 177, 70, 0.7);
$bolOverlay: rgba(16, 16, 16, 0.2);
$stackColor: #ed9f00;
$stackColorHover: #eb7500;
$socialColor: rgba(255, 255, 255, 0.8);
$socialColorHover: #fff;

$linkBgDark: #362a84;
$linkBg: hsl(40, 100%, 40%);
$linkBgHover: hsl(40, 100%, 20%);
$fontColor: #333;

$navbarHeight: 50px;
$animationTime: 0.15s;


body {
	padding-top: 50px;
	color: $fontColor;
	margin: 0;
	min-height: 100%;
  display: flex;
  flex-direction: column;
	font-family: 'Noto Sans', sans-serif;
}

/* extend the main div, so the footer extends to the end */
.main-div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

html {
	height: 100%;
	margin: 0;
}

a {
	/*color: $linkBg;*/
	font-weight: bold;
	transition: all $animationTime ease-in-out;
	&:hover,
	&:focus {
	/*color: $linkBgHover;
	text-decoration: none;*/
	}
}

.navbar {
	margin-bottom: 0;
}

.nav-justified > li {
	float:none;
}

blockquote {
	font-size: 14px;
	font-style: normal;
}

.lsp-image {
	max-width:100%;
}

/* LSP Login Sidebar*/

#login-div form {
	padding: 0.5em;
}

.alert.lsp {
	margin-bottom: 0;
}

/* Star ratings */
.lsp-starrating {
	padding:  15px 0px 15px 0px;
	unicode-bidi: bidi-override;
	direction: rtl;
	> a:hover {
		text-decoration: none;
	}
}

/* Fix for forum back-to-top button */
.back-to-top {
	z-index: 1;
	bottom: 30px;
}

/* Do not display the edit button in docs */
.mw-editsection {
	display: none;
}

div.p-pagination span.label a:link {
	color: #fff;
}

.inputbox {
		line-height: normal;
}

.dl-vert-label {
	position: relative;
	top: -2px;
	margin-left: 55px;
}

.lsp-row {
	margin-top: 10px;
	text-align: left;
}

li > a > span.fa-files-o {
	margin-right: -.15em;
}

.btn-file {
	margin-right: .75em;
	margin-top: .15em;
}

#caret.fa-caret-right {
	margin-right: .2em;
}

span.lsp-badge {
	opacity: .70;
}

pre.lsp-filename {
	float: right;
	text-align: right;
	margin: auto;
}

ul.lsp-sort {
	display: inline-block;
}

div.lsp-sidebar {
	margin-right: .50em;
	margin-top: 1.6em;
}

td.lsp-file-info {
	padding-left: 2em;
}

.fl-tab {
	position: relative;
	left: .1em;
	top: .05em;
	margin-left: .3em;
}

.lsp-small {
	display: block;
	position: relative;
	bottom: -1.5em;
	text-align: right;
}

.release-notes {
	position: relative;
	display: inline-block;
	text-align: left;
	max-width: 800px;
}

.btn-dl {
	position: relative;
	padding: 0.5em;
	margin: 4px;
	text-align: left;
	padding: 1em 1em 1em 5em;
	.small {
		position: relative;
		font-size: .9em;
	}
	.big {
		font-size: 1.2em;
	}
	.download-icon {
		display: block;
		position: absolute;
		left: .2em;
		top: .3em;
		opacity: .9;
	}
}

/* Prevent cutting off of images on narrow devices*/
@media (max-width:767px) {
	img {
		max-width: 100%;
		height: auto;
	}
}

.dl-horiz-label {
	margin-left: 57px;
}

.code-block {
	display: inline-block;
	text-align: left;
	margin: 0 auto;
}

.top {
	float: top;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

li.dropdown-split-left > a {
	padding-right: 0;
}

li.dropdown-split-right > a {
	padding-left: 7px;
}

.ellipsis {
	font-size: 1em;
	font-weight: 900;
	display: inline;
}

.bandcamp-iframe {
	border: 0;
	width: 700px;
	height: 1000px;
}

@media (max-width:700px) {
	.bandcamp-iframe {
		width: 100%;
	}
}

.art-thumb {
	float: left;
	margin-right: 10px;
}

.spacey {
	padding: 5px;
}

p.forum-stats  {
	font-size: 0.75em;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
	footer {
		.container {
			width: inherit;
		}
	}
}

/* Some missing bootstrap styles */

.btn {
	border: 0;
	border-radius: 1px;
	color: #fff;
	&.active,
	&:active {
		box-shadow: none;
	}
}

a.btn {
	box-shadow: none;
}

.panel,
.well,
.alert {
	border-radius: 1px;
}

/* navbar styling */
.navbar-custom {
	background-color: $navbarBg;
	background-image: url('/img/hexagon.png');
	background-position: 0px 0px;
	margin-bottom: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	transition: top $animationTime ease-in-out;
	border: none;
	top: 0;

	a {
		box-shadow: none;
	}

	.navbar-brand {
		font-family: 'Orbitron', sans-serif;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 22px;
	}

	.navbar-brand,
	.dropdown-split-right,
	.navbar-nav > li > a,
	.navbar-nav > li > a:visited,
	.navbar-nav > li > a:focus, {
		color: $navbarText;
		background-color: transparent;
		transition: all $animationTime linear;
		text-shadow: none;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover,
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:hover {
			color: $navbarTextHover;
			background-color: $navbarBgHover;
	}
	.navbar-nav {
		.open {
				.caret {
					border-top-color: $navbarTextHover;
					border-bottom-color: $navbarTextHover;
				}

				&:hover, &:focus {
					color: $navbarTextHover;
					background-color: $navbarBgHover;

					.caret {
						border-top-color: $navbarTextHover;
						border-bottom-color: $navbarTextHover;
					}
				}
			}
		}
		/* caret */
	.dropdown {
		> a {
			.caret {
				border-top-color: $navbarText;
				border-bottom-color: $navbarText;
			}
			&:hover, &:focus {
				.caret {
					border-top-color: $navbarTextHover;
					border-bottom-color: $navbarTextHover;
				}
			}
		}
	}
	/* Dropdown menu appeares on :hover and :focus */
	.dropdown-menu {
		border: none;
		border-radius: 0;
		background-color: $navbarHoverBorder;
		transition: all $animationTime linear;
		> li {
			> a {
				color: $navbarText;
				transition: all $animationTime linear;
				&:hover {
					color: $navbarHoverBorder;
					background-image: none;
					background-color: rgba(255, 255, 255, 0.9);
				}
			}
		}
	}
	/* mobile version */
	.navbar-toggle {
		border:none;
		&:hover, &:focus {
			background-color: rgba(255, 255, 255, 0.2);
		}
		.icon-bar {
			background-color: $navbarText;
		}
	}
}
/* inner bottom border on hover over navbar items*/
@media(min-width: 768px) {
	.navbar-custom {
		.navbar-nav > li > a:hover,
		.navbar-nav > .active > a,
		.navbar-nav > .active > a:hover,
		.navbar-nav > .open > a,
		.navbar-nav > .open > a:hover {
			box-shadow: inset 0px -4px 0px 0px $navbarHoverBorder;
		}
		.dropdown-menu {
			right: auto;
			text-align: left;
			display: block;
			visibility: hidden;
			box-shadow: none;
			opacity: 0;
			transition: visibility 0s, opacity $animationTime;
		 }
		 .dropdown:hover,
		 .dropdown:focus {
			 .dropdown-menu {
				 visibility: visible;
					margin-top: 0;
					opacity: 1;
				 }
			}
	}
}

@media (max-width: 767px) {
	.navbar-custom {
		background-image: none;
		.navbar-nav > li > a,
		.navbar-nav > li > a:visited,
		.navbar-nav > li > a:focus,
		.navbar-nav .open .dropdown-menu {
			box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
			background: inherit;
		}
		.navbar-nav > li.open > a {
			box-shadow: none;
		}
		.navbar-nav .open .dropdown-menu > li > a {
				color: $navbarText;
		}
		.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover {
				color: $navbarTextHover;
		}
		.dropdown-menu > li > a:hover {
			color: $navbarHoverBorder;
			background: transparent;
		}
	}
}

.nav-up {
	top: -$navbarHeight;
}

.logo-sm {
	position: relative;
	top: -2px;
	margin-right: 5px;
	width: 22px;
	height: 22px;
}

/* Footer */

footer {
	background-color: $footerColor;
	background-image: url('../img/hexagon.png');
	display: flex;
	align-items: center;
	.column-md-6 {
		margin: 20px 4px;
	}
	#redux {
		text-align: left;
		margin: 28px 4px;
		line-height: 80%;
		font-size: 0.95em;
		color: $socialColor;
		a {
			box-shadow: none;
		}
		img {
			width: 180px;
			opacity: 0.8;
			transition: opacity $animationTime linear;
			&:hover {
				opacity: 1;
			}
		}
	}
}

/* header */
.jumbotron {
	margin: 0;
	h1, h2, h3, h4, h5, p {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 400;
	}
}

h1.jumbo {
	margin-top: 14px;
}

p.jumbo {
	margin-top: -14px;
	margin-left: 4px;
}

div.jumbo {
	overflow: hidden;
	display: flex;
	align-items: center;
	background: url("/img/screen.png"), url("/img/hexagon.png"), $navbarBg;
	background-position: right bottom, 0px #{-$navbarHeight};
	background-size: auto 80%, auto;
	background-repeat: no-repeat, repeat;
	color: #fff;
	min-height: 50vh;
}

.jumbo div.header {
	margin-bottom: 100px;
}

div.mini {
	overflow: hidden;
	display: flex;
	align-items: center;
	background: url("/img/hexagon.png"), $navbarBg;
	background-position: 0px #{-$navbarHeight};
	color: #fff;
	min-height: 15vh;
	padding: 5px;
	margin-bottom: 20px;
}

div.error {
	overflow: hidden;
	display: flex;
	align-items: center;
	background: url("/img/hexagon.png"), $navbarBg;
	background-position: 0px #{-$navbarHeight};
	color: #fff;
	flex: 1;

	a {
		color: #fff;
		box-shadow: inset 0px -2px 0px 0px $linkBgDark;
		transition: box-shadow $animationTime ease-in-out;
		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
			box-shadow: inset 0px -1.4em 0px 0px $linkBgDark;
		}
	}
}

/* responsive bg change */
@media (max-width: 992px) and (min-width: 768px) {
	div.jumbo {
		background-size: auto 55%, auto;
	}
	.jumbo div.header {
		margin-bottom: 80px;
	}
}

@media (max-width: 768px) {
	div.jumbo {
		background: linear-gradient(
			$greenOverlay, $greenOverlay
		), url("/img/screen.png"), $navbarBg;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.jumbo div.header {
		margin-bottom: $navbarHeight;
	}
}

/* stack */
a.stack {
	color: $stackColor;
	box-shadow: none;
	transition: color $animationTime linear;
	&:visited {
		color: $stackColor;
	}
	&:hover,
	&:focus {
		color: $stackColorHover;
	}
}

a.social {
	color: $socialColor;
	box-shadow: none;
	.fa-inverse {
		color: $navbarHoverBorder;
	}
	.fa-fw {
		margin-right: -0.3em;
	}
	transition: color $animationTime linear;
	&:visited {
		color: $socialColor;
	}
	&:hover,
	&:focus {
		color: $socialColorHover;
		text-decoration: none;
	}
}

.segment {
	padding: 60px 0 70px 0;
	background-color: #fff;
	.page-header {
		border-bottom-color: #d4d4d4;
	}


	&#home1 {
		.col-lg-4 {
			h4, p {
				text-align: left;
			}
		}
	}

	 &#home3,
	 &#home7 {
		background-image: url("/img/hexagon2.png");
		background-repeat: repeat;
		background-position: 0px 0px;
	}

	&#home2 {
		background: linear-gradient(
			$grayOverlay, $grayOverlay
		), url("/img/promoshot1.jpg");
	}

	&#home4 {
		background: linear-gradient(
			$grayOverlay, $grayOverlay
		), url("/img/promoshot2.jpg");
	}

	&#home6 {
		background: url('../img/videopattern.png'), url('../vid/promo.jpg');
		background-size: auto, cover;
		background-repeat: repeat, no-repeat;
	}

	&#home8 {
		background: linear-gradient(
			$grayOverlay, $grayOverlay
		), url("/img/promoshot3.jpg");
	}

	&#home2,
	&#home4,
	&#home6,
	&#home8 {
		color: #fff;
		background-position: center;
		background-size: cover;
	}
}

/* Video gets shown on bigger screens*/
@media screen and (min-width: 768px) {
	.segment#home6 {
		color: #fff;
		position: relative;
		width: 100%;
		height: 356px;
		background: none;
	}
	.video-front,
	.video-bg {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.video-front {
		padding: 45px 0 70px 0;
		background: url('../img/videopattern.png');
	}
	.video-bg {
		overflow: hidden;
		video {
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}
	.modal-custom {
		.modal-dialog {
			margin-top: 60px;
			width: 800px;
		}
	}
}

.modal-backdrop.in {
	opacity: .7;
}
.modal-custom {
	/* Custom close modal dialog text */
	&.fade {
		.close-modal {
			opacity: 0;
			transition: opacity .5s ease-out .3s;
		}
	}
	&.in {
		.close-modal {
			opacity: .7;
		}
	}
	/* The text is a button so the user can click it but behaves like normal text */
	.close-modal {
		background: none;
		border: none;
		cursor: default;
	}
	.modal-dialog {
		max-width: 100%;
		margin-bottom: 5px;
		.modal-content {
			padding: 5px;
			background-color: #373b37;
		}
		button.close {
			color: #fff;
			opacity: .3;
			&:hover {
				color: #fff;
			}
		}
	}
}

/* Get Involved Panels */
.panel-custom {
	border: 1px #dedede solid;
}

.panel-custom > .panel-heading {
	background: url("/img/hexagon-panel.png");
	background-color: $navbarHoverBorder;
	color: #fff;
	background-repeat: repeat;
	background-position: 0px 0px;
}

#lspnav,
.alert {
	border: 0;
}

.btn-default {
	border: solid 1px;
	border-color: #c9c9c9;
	background-color: #fafafa;
	color: $fontColor;
}

/* Purple button (e.g. nightly) */
.btn-secondary {
	border: solid 1px;
	border-color: #c9c9c9;
	background-color: #7871c5;
	&:hover {
		background-color: #645cbc;
		color: #ffffff;
	};
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

a.btn-outline {
	background: none;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 8px;
	transition: all $animationTime linear;
	&:hover {
		color: #706d6d;
		background-color: #fff;
	}
	&#involved {
		border: none;
		margin-top: 6px;
	}
}

.btn-xl {
	font-size: 24px;
}
/*
 * nav-tabs style
 */

.nav-center-container {
	width: 100%;
	overflow: hidden;
}

ul.nav-center {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
	li {
		position: relative;
		float: left;
		display: block;
		right: 50%;
	}
}

@media(max-width: 768px) {
	ul.nav-center li {
			float: none;
			width: 100%;
	}
}

.nav-tabs {
	border-bottom: none;
	> li {
		> a {
			border-radius: 0 0;
			border-style: none;
			border-bottom: 2px solid rgba(0,0,0,0);
			background-color: white;
			&:hover, &:focus {
				border-radius: 0 0;
				border-style: none;
				border-bottom: 2px solid #75A3CA;
				background-color: white;
			}
		}
		&.active {
			> a,
			> a:hover,
			> a:focus {
				border-style: none;
				background-color: white;
				border-bottom: 2px solid #428bca;
			}
		}
	}
}


.comp-header {
	width: 100%;
	padding: .1em .5em;
	vertical-align: middle;
	font-size: 3.3em;
	background-position: center, center center;
	background-size: auto, cover;
	color: #fcfcfc;
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
	span {
		font-family: 'Lato', sans-serif;
		line-height: 1.5em;
		font-weight: 300;
		font-style: italic;
	}
	.carret {
		float: right;
		margin: .25em 0;
		&.rotate {
			transform: rotate(180deg);
		}
	}
}

@media screen and (max-width:767px) {
	.comp-header {
		font-size: 2em;
	}
}

#bol1 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv1.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol2 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv2.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol3 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv3.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol4 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv4.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol5 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv5.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol6 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv6.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

#bol7 {
	background: linear-gradient(
		$bolOverlay, $bolOverlay
	), url("/img/tbolv7.jpg");
	background-position: center, center center;
	background-size: auto, cover;
}

.competition {
	padding: 2em 0 2em 0;
	a {
		text-decoration: none;
	}
}

.comp-desc {
	border: 1px 1px 1px 0px solid #c9c9c9;
	padding: 2ex 1em 1ex 1em;
	h4 {
		margin-bottom: 1ex;
		margin-top: 2ex;
	}
}
