body {
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #f8f8f8;
}

blockquote {
	font-size: 14px;
	font-style: italic;
}

h1.jumbo, p.jumbo {
	font-family: 'Ubuntu', sans-serif;
}

a.lsp-ratelink,
span.lsp-ratelink {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
	display: inline-block;
}

div.jumbo {
	overflow: hidden;
	margin-top: 10px;
	background: url('/img/jumbotron_bg.jpg');
	color: #fff;
}

div.p-pagination span.label a:link {
	color: #fff;
}

h1.jumbo {
	margin-top: 14px;
}

p.jumbo {
	margin-top: -14px;
	margin-left: 4px;
}

.dl-vert-label {
	position: relative;
	top: -2px;
	margin-left: 55px;
}

.page-header {
	text-align: center;
}

.row {
	text-align: center;
}

.lsp-row {
	margin-top: 10px;
	text-align: left;
}

.download-icon {
	margin: 0;
	padding: 0;
	display: block;
	width: 0;
	height: 0;
	font-size: 3em;
	position: relative;
	top: -0.50em;
	left: -1.1em;
	opacity: .65;
}

li>a>span.fa-files-o {
	margin-right: -.15em;
}

.btn-file {
	margin-right: .75em;
	margin-top: .15em;
}

#caret.fa-caret-right {
	margin-right: .2em;
}

span.lsp-badge {
	opacity: .70;
}

pre.lsp-filename {
	float: right;
	text-align: right;
	margin: auto;
}

ul.lsp-sort {
	display: inline-block;
}

div.lsp-sidebar {
	margin-right: .50em;
	margin-top: 1.6em;
}

td.lsp-file-info {
	padding-left: 2em;
}

div.lsp-search-button {
	position: relative;
	float: right;
	margin-right: 2.7em;
	margin-top: -2.4em;
	right: 0;
	width: 0;
	height: 0;
	overflow: none;
}

.fl-tab {
	position: relative;
	left: .1em;
	top: .05em;
	margin-left: .3em;
}

.btn-dl  > small > .fa-exclamation-circle {
	position: absolute;
	font-size: 1.5em;
	padding: 0;
	width: 0;
	height: 0;
	margin: 0;
	right: 3px;
	bottom: 3px;
	opacity: .65;
}

.feed-small {
	display: table-cell;
	float: right;
	text-align: right;
	margin-right: 5px;
	opacity: .60;
}

.lsp-small {
	display: block;
	position: relative;
	bottom: -1.5em;
	text-align: right;
}

.youtube-thumb-overlay {
    position: relative;
	top: 1em;
	left: -5em;
	display: inline-block;
	width: 0; height 0;
    z-index: 10;
	color: #fff;
	opacity: .40;
}

.youtube-thumb-overlay:hover {
	opacity: .60;
}

.google\2b-row,
.soundcloud-row,
.github-row,
.facebook-row,
.forums-row,
.youtube-row {
	text-align: left;
	position: relative;
	margin: 0;
}

.soundcloud-row {
	margin-top: -2px;
}

.soundcloud-thumb {
	float: left;
	display: inline-block;
	position: relative;
	margin-top: -6px;
	margin-left: 2px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}


.fb-thumb {
	position: relative;
	left: -6px;
	top: -2px;
	margin: 5px;
	width: auto;
	max-width: 100%;
	height: auto;
}

.youtube-thumb {
	background-color: #000;
	float: left;
	display: inline-block;
	position: relative;
	margin-top: -6px;
	margin-left: 2px;
	margin-right: 10px;
}


.forum-thumb {
	display: block;
	position: relative;
	margin: 20px;
}

#button-title {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
}

.release-notes {
	position: relative;
	display: inline-block;
	text-align: left;
}

.btn-dl small {
	position: relative;
	font-size: 0.65em;
	top: -1.8em;
}

.btn-dl-md small {
	position: relative;
	font-size: 0.65em;
	top: -2.2em;
}

.btn-dl big {
	font-size: 0.75em;
	position: relative;
	top: -12px;
}

.btn-dl-md big {
	font-size: 0.75em;
	position: relative;
	top: -11px;
}

.btn-dl {
	height: 4.8em;
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 0;
	padding-left: 4em;
	padding-right: 1em;
	margin: 4px;
}

/* Prevent cutting off of images on narrow devices*/
@media (max-width:767px) {
img {
	max-width: 100%;
	height: auto;
}
}

.dl-horiz-label {
	margin-left: 57px;
}

.code-block {
	display: inline-block;
	text-align: left;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.top {
	float: top;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.fa-8x {
	font-size: 8em;
}

.fa-7x {
	font-size: 7em;
}

.fa-6x {
	font-size: 6em;
}

.main-div {
	background-color: #fff;
	border: 1px solid;
	border-color: #ddd;
	padding-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

li.dropdown-split-left > a {
	padding-right: 0;
}

li.dropdown-split-right > a {
	padding-left: 7px;
}

.ellipsis {
	font-size: 1em;
	font-weight: 900;
	display: inline;
}

.bandcamp-iframe {
	border: 0; 
	width: 800px;
	height: 472px;
}

.art-thumb {
	float: left;
	margin-right: 10px;
}

p.forum-stats  {
	font-size: 0.75em;
}

#community-table {
	text-align:center;
	margin: 0 auto;
}

#forums-div,
#facebook-div,
#soundcloud-div,
#google-div,
#youtube-div,
#github-div {
	max-height: 9999px;
	overflow: auto;
}

#forums-toggle,
#facebook-toggle,
#soundcloud-toggle,
#google\2b-toggle,
#youtube-toggle,
#github-toggle,
#forums-button,
#facebook-button,
#soundcloud-button,
#google\2b-button,
#youtube-button,
#github-button {
	width: 100%;
}

.nav li {
	font-size: 14px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.logo-sm {
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.btn {
	margin-bottom: 5px;
}

/* Some missing bootstrap styles */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-dark {
	background-color: #464f47;
	border-color: #464f47;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3c443d;
	background-image: -moz-linear-gradient(top,#464f47,#2e342f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#464f47),to(#2e342f));
	background-image: -webkit-linear-gradient(top,#464f47,#2e342f);
	background-image: -o-linear-gradient(top,#464f47,#2e342f);
	background-image: linear-gradient(to bottom,#464f47,#2e342f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff464f47', endColorstr='#ff2e332e', GradientType=0);
	border-color: #2e342f #2e342f #0a0b0a;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-dark:hover,
.btn-dark:focus {
	color: #fff;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
	background-color: #2e342f;
}

.btn-dark:active,
.btn-dark.active,
.btn-dark.active:hover {
	color: #fff;
	background-color: #3a413b;
	border-color: #2e342f;
}

.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled] .btn-dark:hover,
.btn-dark[disabled] .btn-dark:focus,
.btn-dark[disabled] .btn-dark:active,
.btn-dark[disabled] .btn-dark.active {
	color: #fff;
	background-color: #464f47;
	border-color: #464f47;
}

.hor-link-list > a {
	display: inline;
	padding: 5px 10px;
}

.hor-link-list > .active {
	color: inherit;
	cursor: default;
}

.hor-link-list > .active:hover {
	text-decoration: none;
}

.hor-link-list > .active:hover {
	color: inherit;
	cursor: default;
}

.hor-link-list > a + a{
	border-left: 1px solid #eee;
}

/*
 * Image reflection effects
 */
#reflect-black .image-block ,
#reflect-white .image-block {
	width:100%;
	margin:0px 10px;
	float:left;
}

#reflect-black .reflection {
	position: relative;
	margin-bottom: -33%;
}
#reflect-white .reflection {
	position:relative;
	margin-bottom: -22%;
}

#reflect-black  img { 	
	border: 1px solid rgba(255,255,255,.33);
}

#reflect-white  img { 	
	border: 1px solid rgba(0,0,0,.33);
}

#reflect-black  img:hover{ 	
	border: 1px solid rgba(255,255,255,.5);
}

#reflect-white  img:hover{ 	
	border: 1px solid rgba(0,0,0,.75);
}


#reflect-black .reflection img,
#reflect-white .reflection img {
	-webkit-transform: scaleY(-1);
 	   -moz-transform: scaleY(-1);
	    -ms-transform: scaleY(-1);
	     -o-transform: scaleY(-1);
		    transform: scaleY(-1);
			   filter: flipv;
}

#reflect-black .reflection img {
	opacity:0.30;
	filter: alpha(opacity='40'); 
}

#reflect-white .reflection img {
	opacity:0.15;
	filter: alpha(opacity='15'); 
}

#reflect-black .overlay {position:absolute; top:0px; left:0px; width:100%; height:100%; 
	background-image: -moz-linear-gradient(center bottom, rgb(0,0,0) 60%, rgba(0,0,0,0) 75%);
	background-image: 	-o-linear-gradient(rgba(0,0,0,0) 25%, rgb(0,0,0) 40%);
	background-image:     -webkit-gradient(linear, left bottom, left top, color-stop(0.60, rgb(0,0,0)), color-stop(0.75, rgba(0,0,0,0)));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#000000);
}

#reflect-white .overlay {position:absolute; top:0px; left:0px; width:100%; height:100%;
	background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%);
	background-image: 	-o-linear-gradient(rgba(255,255,255,0) 25%, rgb(255,255,255) 40%);
	background-image:     -webkit-gradient(linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0)));
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#ffffff);
}
