{% extends 'lsp/base.twig' %}

{% import 'lsp/macros.twig' as macros %}

{% block main_content %}
    {{macros.make_title([file_name, 'Delete'])}}
    <div class="alert alert-warning text-center"><strong><span class="fas fa-exclamation-circle"></span>&nbsp;
            Warning:
        </strong> This will also delete all the comments and ratings.
    </div>
    <div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title"><span class="fa fa-trash"></span>&nbsp;Confirm Delete</h3></div>
    <div class="panel-body">
    <form enctype="multipart/form-data" action="/lsp/?content=delete&amp;file={{file_id}}" method="post">		<input type="hidden" name="confirmation" value="true">
		<p class="lead">Confirm deletion of <strong>{{file_name}}</strong>?</p>
		<div class="form-group">
    <button type="submit" class="btn btn-danger">
		<span class="fas fa-check"></span>&nbsp;Delete</button>
		<a class="btn btn-warning" href="/lsp/?action=show&amp;file={{file_id}}">
		<span class="fas fa-times"></span>&nbsp;Cancel</a>
		</div></form></div>
    </div>
{% endblock %}
