{% extends 'lsp/base.twig' %}

{% import 'lsp/macros.twig' as macros %}

{% block main_content %}
    {{macros.make_title('Latest Uploads')}}
    <table class="table table-striped">
        {% for rs in rows %}
            {{macros.make_item(rs, sort)}}
        {% endfor %}
    </table>
{% endblock %}
