index:
   path: /
   controller: App\Controller\IndexController::homepage

chat:
   path: /chat
   controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
   defaults:
      path: 'https://discord.gg/PruNxpG'
      permanent: true

bolresults:
   path: /bolresults
   controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
   defaults:
      path: 'https://docs.google.com/spreadsheets/u/3/d/e/2PACX-1vQl77UmX-OKujL7bG6IZ1xbjNDB2szc3StzPU7STX8d2M1Q4uRQaPxLiDd4b4W9xlljijTfQtrZH5tC/pubhtml'
      permanent: false

documentation:
   path: /documentation
   controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
   defaults:
      path: 'https://docs.lmms.io/user-manual/'
      permanent: true

download:
   path: /download
   controller: App\Controller\DownloadController::page

download_pr:
   path: /download/pull-request/{id}
   controller: App\Controller\DownloadController::pull_request

download_artifact:
   path: /download/artifact/{id}
   controller: App\Controller\DownloadController::artifact

portal_pages:
   path: /{page}
   controller: App\Controller\PortalController::page

controllers:
    resource: ../src/Controller/
    type: attribute
