{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block content %}

{{ macros.jumbo('News'|trans,'LMMS announcements mirrored from GitHub Discussions'|trans) }}
<div class="container text-center">
	<p>
		{% trans with {'%page%': "//github.com/LMMS/lmms/discussions/categories/announcements"} %}We're sorry, something went wrong fetching the news. You can find a copy of status updates on <a href="%page%">GitHub</a>.{% endtrans %}
	</p>
</div>
{% endblock %}

{% block foot %}
{% endblock %}