<!-- IF S_TYPE == 1 -->
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">{L_CONFIRMATION}</h3>
                </div>
                <div class="panel-body">
                        <p>{L_RECAPTCHA_EXPLAIN}</p>
                        <div class="form-horizontal">
<!-- ENDIF -->
                                <div class="form-group">
<!-- IF S_TYPE == 1 -->
                                        <label for="recaptcha_response_field" class="control-label col-md-3">{L_CONFIRM_CODE}:</label>
                                        <div class="col-md-9">
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
                                                <script type="text/javascript">
                                                        // <![CDATA[
                                                        var RecaptchaOptions = {
                                                                lang : '{LA_RECAPTCHA_LANG}',
                                                                theme : 'clean',
                                                                tabindex : <!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->
                                                        };
                                                        // ]]>
                                                </script>
                                                <script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}"></script>
                                                <script type="text/javascript">
                                                        // <![CDATA[
                                                        <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
                                                                document.getElementById('recaptcha_table').style.direction = 'ltr';
                                                        <!-- ENDIF -->
                                                        // ]]>
                                                </script>
                                                <noscript>
                                                        <div>
                                                                <object data="//www.google.com/recaptcha/api/noscript?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}" type="text/html" height="300" width="500"></object><br />
                                                                <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                                                                <input type="hidden" class="form-control" name="recaptcha_response_field" value="manual_challenge" />
                                                        </div>
                                                </noscript>
<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->

<!-- IF S_TYPE == 1 -->
                                        </div>
                                </div>
<!-- ENDIF -->
                        </div>
<!-- IF S_TYPE == 1 -->
                </div>
        </div>
<!-- ENDIF -->