	</div>
	<div id="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="btn-group">
						<!-- IF U_MCP -->
							<a class="btn btn-primary" href="{U_MCP}" style=" display: block; ">{L_MCP}</a>
						<!-- ENDIF -->
						<!-- IF U_ACP -->
							<a class="btn btn-primary" href="{U_ACP}" style=" display: block; ">{L_ACP}</a>
						<!-- ENDIF -->
						</div>
					</div>
				<div class="col-md-2 text-right">
					<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					<div class="btn-group dropup pull-right">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" style=" display: block; ">
						<i class="fa fa-wrench"></i>
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- IF S_DISPLAY_SEARCH -->
							<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
							<!-- IF S_LOAD_UNREADS -->
							<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
							<!-- ENDIF -->
							<!-- IF S_USER_LOGGED_IN -->
							<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
							<!-- ENDIF -->
							<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
							<!-- ENDIF -->
							<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
							<li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li>
							<!-- ENDIF -->
							<!-- IF S_HAS_SUBFORUM -->
							<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
							<li><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></li>
							<!-- ENDIF -->
							<!-- ENDIF -->
						</ul>
					</div>
					<br />
				</div>
				<!-- ENDIF -->
			</div>
		</div>
		<div class="text-center">{CREDIT_LINE}
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			<br />Design: <a href="http://thezoker.github.io/proBoot3/" target="_blank">proBoot3</a> by <a href="http://www.florian-gareis.de" target="_blank">Florian Gareis</a>
		</div>
	</div>
	<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
	<a id="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

<!-- PHP -->
require_once($_SERVER['DOCUMENT_ROOT'].'/footer.php');
<!-- ENDPHP -->
