{% include 'head.twig' with {head: block('head')} %}
{% block header %}
{% endblock %}
<div class="theme-showcase main-div" role="main">
	{% block content %}
	{% endblock %}
</div>
{% include 'foot.twig' with {foot: block('foot')} %}
