{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block content %}
{{ macros.jumbo('Branding', 'Baa Baa Black Sheep')}}
<div class="container">
	<div class="page-header">
		<h1>Download LMMS Artwork</h1>
	</div>

	{{ create_artwork_item(
		'LMMS Logo',
		'../../img/logo_md.png',
		'http://raw.githubusercontent.com/LMMS/artwork/master/src/icon.svg',
		'../../img/logo_lg.png',
		'Martin Vacho',
		'http://hdche.tumblr.com',
		'LMMS Development Team') }}

	{{ create_artwork_item(
		'LMMS Project Icon',
		'../../img/project_md.png',
		'http://raw.githubusercontent.com/LMMS/artwork/master/src/mmpz_file_icon.svg',
		'../../img/project_lg.png',
		'Ubuntu',
		'https://wiki.ubuntu.com/Artwork/Incoming/Karmic/Humanity_Icons',
		'LMMS Development Team') }}
</div>
{% endblock %}
