{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block content %}
{{ macros.jumbo('Branding'|trans, 'Download LMMS Artwork'|trans)}}
<div class="container">
	{{ macros.create_artwork_item(
		'LMMS Logo'|trans,
		'../../img/logo_md.png',
		'https://github.com/LMMS/artwork/raw/master/Icon%20%26%20Mimetypes/lmms-64x64.svg',
		'../../img/logo_lg.png',
		'Martin Vacho',
		'http://hdche.tumblr.com',
		'LMMS Development Team'|trans) }}

	{{ macros.create_artwork_item(
		'LMMS Project Icon'|trans,
		'../../img/project_md.png',
		'https://github.com/LMMS/artwork/raw/master/Icon%20%26%20Mimetypes/lmms-project-64x64.svg',
		'../../img/project_lg.png',
		'Ubuntu',
		'https://wiki.ubuntu.com/Artwork/Incoming/Karmic/Humanity_Icons',
		'LMMS Development Team'|trans) }}
</div>
{% endblock %}

{% block foot %}
{% endblock %}
