{% extends 'base.twig' %}

{% block content %}
<div class="jumbotron mini">
	<div class="container">
		<h2>{{ json.displaytitle }}</h2>
	</div>
</div>
<div class="container">
  {{ text|raw }}
</div>
{% endblock %}
