{% extends 'base.twig' %}

{% block content %}

<h1 class="text-center page-header">{{ message }}<br>
<small>That's a {{ code }}</small></h1>
<div class="text-center">If you followed a valid link on this site, please contact us about it and <a href="//github.com/LMMS/lmms.io/issues/new">file an issue</a> on GitHub.
<h3>We have a mirror of our downloads located here:<br>
<a href="https://github.com/LMMS/lmms/releases/tag/v1.0.3">Windows download mirror (1.0.3 stable)</a><br>
<a href="https://github.com/LMMS/lmms/releases/tag/v1.0.96">Windows/Mac OS download mirror (1.1 RC7 pre-release)</a></h3>
</div>


{% endblock %}
