{% extends 'base.twig' %}

{% block content %}
<div class="container">
  <h1 class="text-center page-header">{{ message }}<br>
    <small>{% trans %}That's a {{ code }}{% endtrans %}</small></h1>
    <div class="well text-center">{% trans %}If you followed a valid link on this site, please contact us
      about it and <a href="//github.com/LMMS/lmms.io/issues/new">file an issue</a> on GitHub.{% endtrans %}
    </div>
</div>


{% endblock %}
