	<br>
	<footer id="footer">
		<div class="container">
			<div>
				<span>
					<p>LMMS</p>
					<small>
						<a href="/download/">Download</a><br>
						<a href="//github.com/LMMS/lmms">Source Code</a><br>
						<a href="/documentation">Documentation</a><br>
					</small>
				</span>
				<span>
					<p>Get Involved</p>
					<small>
						<a href="/get-involved/#donate">Donations</a><br>
						<a href="/get-involved/#development">Software</a><br>
						<a href="/get-involved/#docs">Website & Docs</a>
					</small>
				</span>
			</div>
			<div>
				<span>
					<p>Community</p>
					<small>
						<a href="/get-involved/#forum">Forum</a><br>
						<a href="/lsp">LMMS Sharing Platform</a><br>
						<a href="/community">Social Networks</a><br>
					</small>
				</span>
				<span>
					<p>LMMS.io</p>
					<small>
						<a href="/get-involved/#contact">Contact</a><br>
						<a href="/get-involved/#github">Report a bug</a><br>
						<a href="/download/artwork">Logo & Artwork</a><br>
					</small>
				</span>
			</div>
		</div><br>
		<div class="text-center small">
			<a href="http://www.networkredux.com/"><img src="/img/network_redux.png"></a></p>
		</div>
	</footer>
	<script type="text/javascript" src="/js/analytics.js"></script>
	<script type="text/javascript" src="/js/smartNavbar.js"></script>
</body>
</html>
