{% import 'navbar.twig' as nav %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% set uri = app.request.pathinfo %}
	<title>LMMS | {{nav.get_active_title(uri)|spaceless}}</title>
	<meta name="description" content="{{nav.get_active_description(uri)|spaceless}}">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link rel="icon" type="image/png" href="/img/logo_sm.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
	<link href="//fonts.googleapis.com/css?family=Titillium+Web:400,600%7COrbitron:500%7CNoto+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese&amp;display=swap" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	{# {{ head|raw }} #}
</head>

<body role="document">
	{# Navigation bar #}
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img class="logo-sm pull-left" height="22" width="22" src="/img/brand-icon.png" alt="LMMS logo">LMMS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				{# flush #}
					{{ nav.build_navbar(uri) }}
				</ul>
			</div>
		</div>
	</nav>
