<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LMMS | {{ navbar.activePageTitle() }} </title>

	<meta name=”description” content=”LMMS is a free, open source, multiplatform digital audio workstation.”>
	<link rel="icon" type="image/png" href="/img/logo_sm.png">
	<link href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	{{ head|raw }}
</head>

<body role="document">
	{{ navbar.flush() }}
