{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block content %}
{{ macros.jumbo('Showcase'|trans, 'Tracks made with LMMS'|trans)}}

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 7 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=806615107/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 6 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=1036778146/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 5 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=1624732570/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 4 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=2322744837/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 3 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=1272155123/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 2 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=2883175486/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>
<hr />

<div class="text-center container">
	<div class="wait-div text-center">
		<img src='/img/loading.gif' /><br>
	</div>
	<!-- Best of LMMS Vol. 1 -->
	<iframe class="bandcamp-iframe" src="//bandcamp.com/EmbeddedPlayer/album=2796846066/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"></iframe>
</div>

{% endblock %}

{% block foot %}
<script>
$('.bandcamp-iframe').on("load", function() {
	$('.wait-div').hide();
});
</script>
{% endblock %}
