{% extends 'base.twig' %}

{% block content %}
<p>{% trans %}We're sorry, something went wrong fetching the latest release info. You can still download releases on <a href="//github.com/LMMS/lmms/releases">GitHub</a>.{% endtrans %}</p>
{% endblock %}
